body {
  background-attachment: fixed;
  background-image: url("cluj_bk.jpg");
  height: 400rem;
}

.cluj {
  background-color: aqua;
}

image {
  aspect-ratio: relative;
  box-sizing: border-box;
}

p {
  font-weight: normal;
}